.table {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchbar {
  width: 70%;
  margin: 30px;
  height: 2em;
}

@media only screen and (max-width: 1000px) {
  .table {
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .table {
    font-size: 8px;
  }
}
